<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Ayarlar
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Kiralama Yönetim Sistemi</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/settings">Ayarlar</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-list font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Ayarlar</span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="datatable_ajax4">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="2%">
                                Ayar
                            </th>
                            <th width="5%">
                                Değer
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End: life time stats -->
</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
    SettingsTable.init();
</script>
<!-- END MAIN JS -->