<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	Ana Sayfa
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="index.html">Kiralama Yönetim Sistemi</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Ana Sayfa</a>
		</li>
	</ul>
	<div class="page-toolbar">
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
	<div class="note note-success note-bordered">
		<h3>Duyuru <span class="close" data-close="note"></span></h3>
		<p>
			Yeni İHALARIMIZ Göreve Başladı.
		</p>
	</div>
	<!-- BEGIN DASHBOARD STATS -->
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue-madison">
				<div class="visual">
					<i class="fa fa-comments"></i>
				</div>
				<div class="details">
					<div class="number">
						1349
					</div>
					<div class="desc">
						Kayıtlı İHA Sayısı
					</div>
				</div>
				<a class="more" href="#">
				Yeni Ekle <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat red-intense">
				<div class="visual">
					<i class="fa fa-bar-chart-o"></i>
				</div>
				<div class="details">
					<div class="number">
						12,5M$
					</div>
					<div class="desc">
						Anlık Kiralı İHA Sayısı
					</div>
				</div>
				<a class="more" href="#">
				Kira Listesi <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat green-haze">
				<div class="visual">
					<i class="fa fa-shopping-cart"></i>
				</div>
				<div class="details">
					<div class="number">
						549
					</div>
					<div class="desc">
						Müşteri Sayısı
					</div>
				</div>
				<a class="more" href="#">
				Müşteri Listesi <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat purple-plum">
				<div class="visual">
					<i class="fa fa-globe"></i>
				</div>
				<div class="details">
					<div class="number">
						+89%
					</div>
					<div class="desc">
						Aylık Ortalama İHA Kira Oranı
					</div>
				</div>
				<a class="more" href="#">
				Kiralama Yap <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	Index.init();    
	Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->