<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    İHA Ekle
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Kiralama Yönetim Sistemi</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/uav/list">İHA</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/uav/add">Ekle</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-save"></i>İHA Ekle
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="POST" id="form-username" class="form-horizontal form-bordered" ng-submit="submitForm()">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">İHA Kategori</label>
                            <div class="col-md-4">
                                <select class="form-control" required="required" name="category" id="category" ng-model="formData.category">
                                    <option value="" selected disabled>Kategori Seçin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">İHA İsmi</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" required="required" class="form-control" name="name" id="name"
                                           placeholder="İsim" ng-model="formData.name">
                                </div>
                                <div class="help-block">
                                    İHA isminin benzersiz olması gerekmektedir.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">İHA Kod Adı</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" required="required" name="code" id="code"
                                           placeholder="Kod Adı" ng-model="formData.code">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">İHA Envanter Numarası</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" required="required" class="form-control" name="stocknumber"
                                           id="stocknumber"
                                           placeholder="Stok Kodu" ng-model="formData.stock">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Marka</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="brand" id="brand" placeholder="BAYKAR"
                                           value="BAYKAR" disabled ng-model="formData.brand">
                                </div>
                                <div class="help-block">
                                    Yalnızca BAYKAR markası altındaki İHA'lar için kayıt ekleyebilirsiniz.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Model</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" required="required" class="form-control" name="mode" id="model"
                                           placeholder="Model" ng-model="formData.model">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Ağırlık</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="number" class="form-control" name="weight" id="weight"
                                           required="required" placeholder="Ağırlık" ng-model="formData.weight">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Azami Kalkış Ağırlığı</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="number" class="form-control" name="username1" id="username1_input"
                                           required="required" placeholder="Azami Kalkış"
                                           ng-model="formData.takeoff_weight">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Uçuş Menzili</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="number" class="form-control" name="range" id="flight_range"
                                           placeholder="Uçuş Menzili" ng-model="formData.flight_range">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn blue"><i class="fa fa-check"></i> Ekle</button>
                                <button type="button" class="btn default">İptal</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    ComponentsFormTools.init(); // init todo page
</script>
